* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/img/bac.jpg);
  background-size: cover;
}

.header {
  width: 100vw;
  height: 100vh;

  /* background-image: url(/img/bac.jpg); */
}

.Navbar {
  width: 100%;
  height: 200px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.NavbarItems {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: white;
}

.container {
  width: 70vw;
  margin: auto;
}

.box1 {
  width: 20vw;
  height: 70vh;
  /* border: dashed black; */
  /* background-image: url(/img/phone_002.png); */
  background-size: cover;

  position: fixed;
  left: 55rem;
  top: 10rem;
}
.box2 {
  width: 20vw;
  height: 70vh;
  /* border: dashed black; */
  /* background-image: url(/img/phone_001.png); */
  background-size: cover;
  position: fixed;
  left: 65rem;
  top: 10rem;
}
.box3 {
  width: 50vw;
  height: 50vh;
  /* border: dashed black; */
  text-align: center;
  position: fixed;
  left: 5rem;
  top: 15rem;
}
.minibox1 {
  width: 10vw;

  /* border: dashed black; */
  position: fixed;
  left: 35rem;
  bottom: 10rem;
  background-color: blue;
  text-align: center;
  color: white;
}
.minibox2 {
  width: 10vw;

  /* border: dashed black; */
  position: fixed;
  left: 20rem;
  bottom: 10rem;
  background-color: green;

  text-align: center;

  color: white;
}
.lorem {
  margin-top: 25px;
  text-align: center;
}
